<h1>Basic Components</h1>
<mat-tab-group class="mat-elevation-z1" dynamicHeight animationDuration="500ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">badge</mat-icon>
      Badges
    </ng-template>
    <badge-gallery></badge-gallery>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">add_circle_outline</mat-icon>
      Buttons
    </ng-template>
    <button-gallery></button-gallery>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">list</mat-icon>
      Lists
    </ng-template>
    <list-gallery></list-gallery>
  </mat-tab>
</mat-tab-group>
