<!-- Displays more styles of inputs available in Material Design -->
<mat-card class="card-m">
  <mat-card-header>
    <mat-icon mat-card-avatar>input</mat-icon>
    <mat-card-title>Style Input Options</mat-card-title>
    <mat-card-subtitle>Updates styles on the form.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [style.fontSize.px]="fontSize.value">
    <p>
      <mat-label>Float Labels: </mat-label>
      <mat-radio-group [formControl]="float">
        <mat-radio-button value="auto">Auto</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
      </mat-radio-group>
    </p>

    <p>
      <mat-form-field [floatLabel]="float.value" [color]="fontColor.value">
        <mat-label>Input Color: </mat-label>
        <mat-select [formControl]="fontColor">
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warning">Warning</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [floatLabel]="float.value" [color]="fontColor.value">
        <mat-label>Font Size: </mat-label>
        <input matInput [formControl]="fontSize" type="number" placeholder="Ex. 14" min="8" max="32" />
        <span matSuffix>px</span>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" [floatLabel]="float.value" [color]="fontColor.value">
        <mat-label>Try Floating this Label!</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
    </p>
  </mat-card-content>
</mat-card>
