<form [formGroup]='Form' (ngSubmit)="Submit()">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>call_to_action</mat-icon>
      <mat-card-title>Create Snackbar Message</mat-card-title>
      <mat-card-subtitle>Emits a message from the snackbar.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field hintLabel="Enter a message to display." appearance="standard">
        <mat-label>snackbar message</mat-label>
        <input [(ngModel)]="Form.value.message" matInput placeholder="Ex. Hello!" type="text" formControlName="message" required>
        <button mat-button *ngIf="Form.value.message" matSuffix mat-icon-button aria-label="Clear" (click)="Form.value.message = ''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="Form.controls.message.invalid">Message is required.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!Form.valid" mat-raised-button type="submit" color="primary">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</form>

