<mat-card>
  <mat-card-content>
    <section>
      <div class="table-label"><code>mat-button</code></div>
      <div class="table-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://google.com" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="table-label"><code>mat-raised-button</code></div>
      <div class="table-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://google.com" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="table-label"><code>mat-stroked-button</code></div>
      <div class="table-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href="https://google.com" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="table-label"><code>mat-flat-button</code></div>
      <div class="table-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://google.com" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="table-label"><code>mat-icon-button</code></div>
      <div class="table-row">
        <button mat-icon-button>Basic</button>
        <button mat-icon-button color="primary"><mat-icon>menu</mat-icon></button>
        <button mat-icon-button color="accent"><mat-icon>home</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button>
        <a mat-icon-button href="https://google.com" target="_blank" disabled><mat-icon>open_in_new</mat-icon></a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="table-label"><code>mat-fab</code></div>
      <div class="table-row">
        <button mat-fab>Basic</button>
        <button mat-fab color="primary"><mat-icon>menu</mat-icon></button>
        <button mat-fab color="accent"><mat-icon>home</mat-icon></button>
        <button mat-fab color="warn"><mat-icon>favorite</mat-icon></button>
        <a mat-fab href="https://google.com" target="_blank" disabled><mat-icon>open_in_new</mat-icon></a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="table-label"><code>mat-mini-fab</code></div>
      <div class="table-row">
        <button mat-mini-fab>Basic</button>
        <button mat-mini-fab color="primary"><mat-icon>menu</mat-icon></button>
        <button mat-mini-fab color="accent"><mat-icon>home</mat-icon></button>
        <button mat-mini-fab color="warn"><mat-icon>favorite</mat-icon></button>
        <a mat-mini-fab href="https://google.com" target="_blank" disabled><mat-icon>open_in_new</mat-icon></a>
      </div>
    </section>
  </mat-card-content>
</mat-card>
