<h1>Default Schematics</h1>
<mat-divider></mat-divider>

<h3><code>ng generate @angular/material:address-form &lt;component-name&gt;</code></h3>
<my-address-form></my-address-form>


<h3><code>ng generate @angular/material:dashboard &lt;component-name&gt;</code></h3>
<my-dashboard></my-dashboard>

<h3><code>ng generate @angular/cdk:drag-drop &lt;component-name&gt;</code></h3>
<my-drag-drop></my-drag-drop>

<h3><code>ng generate @angular/material:navigation &lt;component-name&gt;</code></h3>
<my-navigation></my-navigation>

<h3><code>ng generate @angular/material:table &lt;component-name&gt;</code></h3>
<my-table></my-table>

<h3><code>ng generate @angular/material:tree &lt;component-name&gt;</code></h3>
<my-tree></my-tree>
