<!-- Displays more styles of inputs available in Material Design -->
<form [formGroup]="Form" (ngSubmit)="Submit()">
  <mat-card>
    <h1>Other Inputs</h1>
    <mat-card-content [style.fontSize.px]="Form.value.fontSize">
      <h2>Style Input Options</h2>
      <p>
        <mat-label>Float Labels: </mat-label>
        <mat-radio-group formControlName="float">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
        </mat-radio-group>
      </p>

      <p>
        <mat-form-field [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Input Color: </mat-label>
          <mat-select formControlName="fontColor">
            <mat-option value="primary">Primary</mat-option>
            <mat-option value="accent">Accent</mat-option>
            <mat-option value="warning">Warning</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Font Size: </mat-label>
          <input matInput formControlName="fontSize" type="number" placeholder="Ex. 14" min="8" max="32" />
          <span matSuffix>px</span>
        </mat-form-field>
      </p>

      <h2>Label change, Select, and Color Picker</h2>
      <p>
        <mat-form-field hintLabel="Max 10 characters" appearance="outline" [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Enter some input</mat-label>
          <input #input matInput formControlName="maxInput" type="text" maxlength="10" placeholder="Ex. Nougat">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option value="one">One</mat-option>
            <mat-option value="two">Two</mat-option>
            <mat-option value="three">Three</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field hintLabel="" appearnace="outline" [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Pick a Color:</mat-label>
          <input matInput formControlName="colorPicker" type="color" />
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>

      <h2>Date/Time Input</h2>
      <p>
        <mat-form-field hintLabel="" appearance="outline" [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Pick a Date and Time</mat-label>
          <input matInput formControlName="dateTimeLocal" type="datetime-local" />
        </mat-form-field>
        <mat-form-field hintLabel="" appearance="outline" [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Select a Week</mat-label>
          <input matInput formControlName="week" type="week" />
        </mat-form-field>
        <mat-form-field hintLabel="" appearance="outline" [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Select a Time</mat-label>
          <input matInput formControlName="time" type="time" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field hintLabel="" appearance="outline" [floatLabel]="Form.value.float" [color]="Form.value.fontColor">
          <mat-label>Pick a Url</mat-label>
          <input matInput formControlName="url" type="url" />
        </mat-form-field>
      </p>

      <h2>Custom TEL Directive Input w/ Mask</h2>
      <p>
        <mat-form-field appearance="outline" hintLabel="Enter your Phone #">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="tel" type="tel" telephone [(ngModel)]="Form.value.tel" [(model)]="Form.value.tel" placeholder="+1 (555) 555-5555" />
          <mat-error *ngIf="!Form.controls.tel.valid">Error</mat-error>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!Form.valid" mat-raised-button type="submit" color="primary">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</form>
