<div class="search-container" (focusout)="show = false">
  <mat-icon class="search" color="primary">search</mat-icon>
  <input #input [ngModel]='search' (ngModelChange)="Query($event)"
    (focus)="show = true" (keyup.enter)="OnSubmit()" (keyup.escape)="show = false; input.blur();"
    type="text" placeholder="Search" name="search" />
  <mat-icon *ngIf="search" class="clear" color="primary" (click)="search = ''">close</mat-icon>

  <div class="search-results" *ngIf="show && search && results && results.length > 0">
    <div *ngFor="let result of results; let i = index" (mousedown)="OnSubmit(result);">{{ result.text }}</div>
  </div>
</div>
