<mat-grid-list cols="2" rowHeight="350px">
  <mat-grid-tile col="2" row="1">
    <snackbar-form class="dashboard-form"></snackbar-form>
  </mat-grid-tile>
  <mat-grid-tile col="1" row="1">
    <telephone-form class="dashboard-form"></telephone-form>
  </mat-grid-tile>
  <mat-grid-tile col="1" row="2">
    <user-form class="dashboard-form"></user-form>
  </mat-grid-tile>
  <mat-grid-tile col="1" row="1">
    <style-form class="dashboard-form"></style-form>
  </mat-grid-tile>
  <mat-grid-tile col="1" row="1">
    <non-text-form class="dashboard-form"></non-text-form>
  </mat-grid-tile>
  <mat-grid-tile col="1" row="1">
    <date-form class="dashboard-form"></date-form>
  </mat-grid-tile>
</mat-grid-list>
