<mat-card class="card-m m-auto">
  <mat-card-header>
    <img mat-card-avatar src="/assets/material_light.svg" />
    <mat-card-title>Hello World!</mat-card-title>
    <mat-card-subtitle>Material Design Template</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/angular-material-extensions-logo.svg" alt="Card Photo">
  <mat-card-title-group>
    <mat-card-title>What is this website?</mat-card-title>
    <mat-card-subtitle>Description</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>
        Website template for WRPS Angular and Material themed projects.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">LIKE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
